@import 'reset';
@import 'breakpoints';
@import 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}
//@font-face {
//  font-family: 'SF Pro Display';
//  src: url('../assets/fonts/SFProDisplay-Regular.woff2');
//  font-weight: normal;
//}
//
//@font-face {
//  font-family: 'SF Pro Display';
//  src: url('../assets/fonts/SFProDisplay-Semibold.woff2');
//  font-weight: 500;
//}
//@font-face {
//  font-family: 'SF Pro Display';
//  src: url('../assets/fonts/SFProDisplay-Bold.woff2');
//  font-weight: bold;
//}
body {
  font-family: 'SF Pro Display', sans-serif;
}
html, body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: Nunito Sans,sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #5c5c5c;
  overflow: hidden;
}
