//@import "../../assets/scss/calendarStyle/calendar";
$color: #000000;
$h2color: #740e0e;
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'SF Pro Display', sans-serif;
}
html, body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: Nunito Sans,sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #5c5c5c;
  overflow: hidden;
}
